@font-face {
  font-family: "mont";
  src: url("./assets/fonts/montserrat.ttf");
}
@font-face {
  font-family: "fontawesome";
  src: url("./assets/fonts/fontawesome.ttf");
}
@font-face {
  font-family: "raleway1";
  src: url("./assets/fonts/raleway1.ttf");
}
@font-face {
  font-family: "raleway2";
  src: url("./assets/fonts/raleway2.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway1";
}

html,
body {
  width: 100%;
  height: 100%;
}

/* -------------Important CSS---------------  */

.b-overflow {
  overflow-y: hidden;
  height: 100vh;
}
.bottom-border-amin:hover::after {
  width: 100%;
}
.bottom-border-amin::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width 0.3s;
}
.change-width {
  width: fit-content;
}
.font-bold {
  font-weight: 900;
  font-family: cursive;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

/* -------------Navbar Styles------------- */
header {
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bolt-logo {
  width: 150px;
  height: 40px;
}

#main header .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  #main header .logo-container {
    width: 90%;
  }
}

/* ------------- Menu Icon Styles ------------- */
.menuicon {
  display: inline-block;
  position: fixed;
  cursor: pointer;
  right: 0;
  top: 0;
  z-index: 9001;
  padding: 16px;
  margin-right: 17px;
  background-color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* -------------- Chat us button Styles ------------- */
#main .chat-us-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 10;
  cursor: pointer;
}

#main .chat-us-container p {
  padding: 10px 12px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 10px;
  font-family: "raleway2";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

#main .chat-us-container img {
  width: 50px;
}

/* ------------- Menu Icon Styles ------------- */

header nav {
  width: 370px;
  height: 100vh;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9000;
  display: flex;
  align-items: start;
  justify-content: center;
  transform: translateX(0%);
  transition: 0.4s;
  padding: 95px 76px;
}

.nav-toggle {
  transform: translateX(100%);
}

header .links {
  display: flex;
  flex-direction: column;
}

header .links a {
  color: #141414;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  padding: 14px 0;
}

header .links a:hover {
  color: #33856b;
}

header .links button {
  font-size: 22px;
  text-align: center;
  padding: 10px 0;
  margin-top: 22px;
  border-radius: 3px;
  border: 2px solid black;
  background-color: white;
}

/* ------------------- Hero Section Styles --------------- */

main {
  background-image: url("./assets/images/hero.webp");
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 475px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  top: -100px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3d4246;
  opacity: 0.75;
  z-index: 1;
}

.hero-section {
  z-index: 9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 100px;
}

@media screen and (max-width: 860px) {
  .hero-section h1 {
    font-size: 4em;
  }
}

.hero-section h1 {
  font-size: 4em;
  text-align: center;
}
.hero-section .para h3 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  line-height: 38px;
}

@media screen and (max-width: 750px) {
  .hero-section .para h3 {
    font-size: 1.2em;
  }
  .hero-section h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 350px) {
  .hero-section .para h3 {
    font-size: 1.1em;
  }
  .hero-section h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 257px) {
  .hero-section h1 {
    font-size: 2em;
    line-height: 35px;
  }
}

/* ------------Products continer Styles ----------------- */

.container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 5%;
  }
}

.products {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
}

.products h3 {
  margin-bottom: 90px;
  font-size: 1.2em;
  text-transform: uppercase;
  position: relative;
}
.products > h3::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #33856b;
  margin-top: 25px;
}

.software .products .cards {
  display: flex;
  column-gap: 3.3%;
  width: 100%;
}

.cards .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 31%;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .products .cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cards .card {
    width: 80%;
  }
  .products .cards .card h3 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 500px) {
  .software .card .card-title h3 {
    line-height: 1.2;
    font-size: x-large;
  }
}

.cards .card:hover {
  scale: 1.03;
  transition: 0.4s;
}

.cards .card img {
  width: 100%;
  border-radius: 20px;
}

.cards .card .card-title {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.card-title:hover {
  color: #33856b;
}
.card .card-title h3 {
  font-weight: 600;
  font-style: normal;
  margin: 30px 0 5px;
  text-transform: none;
  text-align: center;
  font-size: x-large;
}

@media screen and (max-width: 1114px) {
  .card .card-title h3 {
    font-size: large;
  }
}
@media screen and (max-width: 768px) {
  .container .products > h3 {
    text-align: center;
  }
  .container .products > h3::after {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.card .card-title h1 {
  font-weight: 500;
  font-style: normal;
  color: #919191;
}

/* ------------Software Training Styles -------------- */
.software {
  background-color: #f9f9f9;
  padding-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .software {
    padding-bottom: 10px;
  }
}
.software-card {
  background-color: #266576;
}

@media screen and (max-width: 600px) {
  .software .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }
  .software .cards .card {
    width: 80%;
    margin-bottom: 40px;
  }
}

/* ----------- award-winning-section Styles ------------ */
.award-winning-section {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-area {
  width: 50%;
}
.img-section {
  text-align: center;
}

.img-section img {
  width: 380px;
}

.text-area .title h2 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  word-wrap: break-word;
  font-size: 1.625em;
}
.text-area .title p {
  margin-top: 20px;
  color: #5e6871;
}

.text-area .description h4 {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 35px;
  color: #303539;
}

.text-area .description p {
  line-height: 24px;
  margin-top: 10px;
  color: #5e6871;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 40px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 745px) {
  .award-winning-section .wrapper {
    display: flex;
    flex-direction: column;
  }
  .award-winning-section .wrapper img {
    order: 0;
    width: 92%;
  }
  .award-winning-section .wrapper .text-area {
    order: 1;
    margin-top: 30px;
    width: 100%;
  }
}

.award-winning-section .wrapper button {
  display: inline-block;
  text-align: center;
  margin: 10px 0px;
  padding: 12px 15px;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: #557b97;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

/* ------------ Footer Styles ------------- */
footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 80%;
  padding: 40px 0;
}

@media screen and (max-width: 600px) {
  footer .info {
    flex-direction: column;
    gap: 30px;
  }
  footer .info .left {
    gap: 20px;
    width: 100%;
  }
  footer .info .right {
    gap: 20px;
    width: 100%;
  }
}

footer .info h2 {
  font-family: "mont";
  font-size: large;
}

footer .info p {
  font-family: "raleway1";
  font-size: smaller;
}

footer .info .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
footer .info .line {
  line-height: 22px;
}

footer .info .left .contact a {
  text-decoration: none;
  color: white;
}
footer .info .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  gap: 20px;
}
footer .info .right .refund {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .info .right .imp-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .info .right .links {
  display: flex;
  flex-direction: column;
}

footer .info .right .links p {
  cursor: pointer;
}
